<div class="add-btn">
    <a class="btn btn-primary" data-toggle="modal" data-target="#addEmployee"> ADD Employee </a>
    <a class="btn btn-primary" data-toggle="modal" data-target="#emailDetails"> Email Template </a>
    <a *ngIf="mailDetails.bcc != ''" href="mailto:{{to}}?cc={{mailDetails.cc}}&subject={{mailDetails.subject}}&bcc={{mailDetails.bcc}}&body={{mailDetails.mailBody}}" class="btn btn-primary"> Prepare Mail </a>
    <a *ngIf="mailDetails.bcc === ''" href="mailto:{{to}}?cc={{mailDetails.cc}}&subject={{mailDetails.subject}}&body={{mailDetails.mailBody}}" class="btn btn-primary"> Prepare Mail </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Actions</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th class="date-width">DOB</th>
            <th>Team</th>
            <th>Email</th>
            <th>Client Email</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                
            </td>
            <td><input type="text" class="form-control" name="First Name" [(ngModel)]="filter.firstName" placeholder="First Name"></td>
            <td><input type="text" class="form-control" name="Last Name" [(ngModel)]="filter.lastName" placeholder="Last Name"></td>
            <td><input type="date" class="form-control date-width-select" name="DOB" id="DOB" [(ngModel)]="filter.DOB"></td>
            <td><input type="text" class="form-control" name="team" [(ngModel)]="filter.team" placeholder="Team"></td>
            <td><input type="text" class="form-control" name="email" [(ngModel)]="filter.email" placeholder="Email"></td>
            <td><input type="text" class="form-control" name="clientEmail" [(ngModel)]="filter.clientEmail" placeholder="ClientEmail"></td>
            <td class="width-10">
                <select [(ngModel)]="filter.status" name="status" class="form-control">
                     <option value=""> All </option>
                    <option value="Active"> Active </option>
                    <option value="Other"> Other </option>
                </select>
            </td>
        </tr>

        <tr *ngFor="let employee of employees | employeeFilter:filter">
            <td class="width10">

                <div *ngIf="!employee.editMode">
                    <input type="checkbox" class="autoWidth"  [(ngModel)]="employee.sendEmail" (change)="addEmails(employee)">
                    <a (click)="deleteEmployee(employee.id)">
                        <i class="glyphicon glyphicon-trash"></i></a>
                    <a (click)="editEmployee(employee.id)">
                        <i class="glyphicon glyphicon-pencil"></i></a>
                </div>
                <div *ngIf="employee.editMode">
                    <a (click)="saveEmployee(employee.id)">
                        <i class="glyphicon glyphicon-ok"></i></a>
                    <a (click)="cancelEmployee(employee.id)">
                        <i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </td>
            <td>
                <div *ngIf="!employee.editMode" title="{{employee.firstName}}"> {{employee.firstName}}</div>
                <div *ngIf="employee.editMode" title="{{employee.firstName}}"><input type="text" [(ngModel)]="employee.firstName"></div>
            </td>
            <td>
                <div *ngIf="!employee.editMode" title="{{ employee.lastName }}">{{ employee.lastName }}</div>
                <div *ngIf="employee.editMode" title="{{ employee.lastName }}"><input type="text" [(ngModel)]="employee.lastName"></div>
            </td>
            <td>
                <div *ngIf="!employee.editMode" title="{{ employee.DOB | date: 'MM-dd-yyyy' }}">{{ employee.DOB | date: 'MM-dd-yyyy' }}</div>
                <div *ngIf="employee.editMode" title="{{ employee.DOB | date: 'MM-dd-yyyy' }}"><input type="date" [(ngModel)]="employee.DOB"></div>
            </td>
            <td>
                <div *ngIf="!employee.editMode" title="{{ employee.team }}">{{ employee.team }}</div>
                <div *ngIf="employee.editMode" title="{{ employee.team }}"><input type="text" [(ngModel)]="employee.team"></div>
            </td>
            <td>
                <div *ngIf="!employee.editMode" title="{{ employee.email }}">{{ employee.email }}</div>
                <div *ngIf="employee.editMode" title="{{ employee.email }}"><input type="text" [(ngModel)]="employee.email"></div>
            </td>
            <td>
                <div *ngIf="!employee.editMode" title="{{ employee.clientEmail }}">{{ employee.clientEmail }}</div>
                <div *ngIf="employee.editMode" title="{{ employee.clientEmail }}"><input type="text" [(ngModel)]="employee.clientEmail"></div>
            </td>
            <td>
                <div *ngIf="!employee.editMode" title="{{ employee.status }}">
                    <div *ngIf="employee.status==='Active'" class="green-circle"></div>
                    <div *ngIf="employee.status!='Active'" class="red-circle"></div>
                </div>
                <div *ngIf="employee.editMode" title="{{ employee.status }}"><input type="text" [(ngModel)]="employee.status"></div>
            </td>
    </tbody>
</table>

<div style="display:none">Env::{{envName}}</div>
<div style="display:none">api::{{apiUrl}}</div>

<!-- Add Employee Model-->
<div class="modal fade" id="addEmployee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Add Employee</h1>
            <form id="formregister">
                <input type="text" class="form-control" id="fname" name="First Name" [(ngModel)]="newEmployee.firstName" placeholder="First Name">
                <input type="text" class="form-control" id="lname" name="Last Name" [(ngModel)]="newEmployee.lastName" placeholder="Last Name">
                <input type="date" class="form-control" id="DOB date-width-select" name="DOB" id="DOB" [(ngModel)]="newEmployee.DOB">
                <input type="text" class="form-control" name="team" [(ngModel)]="newEmployee.team" placeholder="Team">
                <input type="text" class="form-control" name="email" [(ngModel)]="newEmployee.email" placeholder="Email">
                <input type="text" class="form-control" name="clientEmail" [(ngModel)]="newEmployee.clientEmail" placeholder="ClientEmail">
                <select [(ngModel)]="newEmployee.status" name="status" class="form-control">
                    <option value="Active"> Active </option>
                    <option value="Other"> Other </option>
                </select>
                <a (click)="addEmployee()" class="btn btn-primary addEmployeeBtn" data-toggle="modal" data-target="#addEmployee"> ADD Employee </a>
            </form>
        </div>
    </div>
</div>

<!-- Email Details Model-->
<div class="modal fade" id="emailDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Email Template</h1>
            <form id="formregister">
                <label id="cclabel">cc</label>
                <textarea name="cc"  [(ngModel)]="mailDetails.cc" id="cc"></textarea> 
                <label id="cclabel">bcc</label>
                <textarea name="bcc"  [(ngModel)]="mailDetails.bcc" id="bcc"></textarea> 
                <label id="cclabel">subject</label>
                <textarea name="subject"  [(ngModel)]="mailDetails.subject" id="subject"></textarea> 
                <label id="cclabel">body</label>
                <textarea name="body"  [(ngModel)]="mailDetails.body" id="body" rows="6"></textarea> 
                <a (click)="saveEmailDetails()" class="btn btn-primary saveEmailDetails" data-toggle="modal" data-target="#emailDetails"> Save </a>
            </form>
        </div>
    </div>
</div>